@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-catppuccin-base text-catppuccin-text font-mono overflow-hidden;
    margin: 0;
    padding: 0;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-catppuccin-mantle;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-catppuccin-surface1 rounded-full border-[3px] border-solid border-catppuccin-mantle;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-catppuccin-surface2;
}

/* Hide scrollbar for tabs */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
